<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goliathonline.android.greenstreetcrm"
    android:versionCode="8"
    android:versionName="0.2.5"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="10"
        android:targetSdkVersion="13" />

    <permission
        android:name="com.goliathonline.android.greenstreetcrm.permission.WRITE_CUSTOMERS"
        android:protectionLevel="normal"
        android:label="@string/permission_write"
        android:description="@string/permission_write" />

    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IOSched"
        android:hardwareAccelerated="true" >

        <!-- Activities for both phones and tablets -->

        <activity
            android:label="@string/app_name"
            android:name=".ui.HomeActivity"
            android:theme="@style/Theme.IOSched.Home" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StarredActivity"
            android:label="@string/title_starred" />

        <!-- Phone-only activities -->

        <activity
            android:name=".ui.phone.CustomersActivity"
            android:label="Customers">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.greenstreetcrm.customer" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.phone.CustomerDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.greenstreetcrm.customer" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.phone.CustomerEditActivity" />

        <activity
            android:name=".ui.phone.JobsActivity"
            android:label="Jobs">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TAB" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.greenstreetcrm.job" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.phone.JobDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.greenstreetcrm.job" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.phone.JobEditActivity" />

        <!-- Tablet-only activities -->

        <activity
            android:name=".ui.tablet.CustomersMultiPaneActivity"
            android:label="Customers" />

        <activity
            android:name=".ui.tablet.JobsMultiPaneActivity"
            android:label="Jobs" />

        <!-- Other manifest items -->
        
        <service android:name=".service.UpdateService" />

        <provider
            android:name=".provider.CustomerProvider"
            android:authorities="com.goliathonline.android.greenstreetcrm"
            android:writePermission="com.goliathonline.android.greenstreetcrm.permission.WRITE_CUSTOMERS" />

    </application>

</manifest>
